In [2]:
import collections

In [3]:
counts = collections.Counter([1,2,3])

In [4]:
counts

Counter({1: 1, 2: 1, 3: 1})

In [5]:
collections.Counter('Happy Birthday')

Counter({' ': 1,
         'B': 1,
         'H': 1,
         'a': 2,
         'd': 1,
         'h': 1,
         'i': 1,
         'p': 2,
         'r': 1,
         't': 1,
         'y': 2})

In [7]:
collections.Counter('I am Sam Sam I am That Sam-I-am That Sam-I-am! I do not like that Sam-I-am'.split())

Counter({'I': 3,
         'Sam': 2,
         'Sam-I-am': 2,
         'Sam-I-am!': 1,
         'That': 2,
         'am': 2,
         'do': 1,
         'like': 1,
         'not': 1,
         'that': 1})

In [8]:
c = collections.Counter({'a': 4, 'b': 2, 'c': -2, 'd': 0})

In [9]:
c['a']

4

In [10]:
c['c'] = -3

In [11]:
c

Counter({'a': 4, 'b': 2, 'c': -3, 'd': 0})

In [15]:
sum(c.values())

3

In [16]:
list(c.elements())

['a', 'a', 'a', 'a', 'b', 'b']

In [17]:
c - collections.Counter()

Counter({'a': 4, 'b': 2})

In [18]:
c.clear()

In [19]:
c

Counter()

In [21]:
c.update({'a': 3, 'b':3})

In [22]:
c

Counter({'a': 6, 'b': 6})

In [23]:
c.update({'a': 2, 'c':2})

In [24]:
c

Counter({'a': 8, 'b': 6, 'c': 2})

In [25]:
c.subtract({'a': 3, 'b': 3, 'c': 3})

In [26]:
c

Counter({'a': 5, 'b': 3, 'c': -1})

In [27]:
d = {'foo': 5, 'bar': 6}

In [28]:
print(d)

{'foo': 5, 'bar': 6}

In [29]:
d['baz'] = 7

In [30]:
d

{'bar': 6, 'baz': 7, 'foo': 5}

In [31]:
d['foobar'] = 8

In [32]:
d

{'bar': 6, 'baz': 7, 'foo': 5, 'foobar': 8}

In [33]:
from collections import OrderedDict

In [34]:
d = OrderedDict([('foo', 5), ('bar', 6)])

In [35]:
d

OrderedDict([('foo', 5), ('bar', 6)])

In [36]:
d['baz'] = 7

In [37]:
d

OrderedDict([('foo', 5), ('bar', 6), ('baz', 7)])

In [38]:
d['foobar'] = 8

In [39]:
d

OrderedDict([('foo', 5), ('bar', 6), ('baz', 7), ('foobar', 8)])

In [40]:
o = OrderedDict()
o['key1'] = "value1"
o['key2'] = "value2"
print(o)

OrderedDict([('key1', 'value1'), ('key2', 'value2')])

In [41]:
d['foo'] = 4

In [42]:
d

OrderedDict([('foo', 4), ('bar', 6), ('baz', 7), ('foobar', 8)])

In [43]:
state_capitals = collections.defaultdict(str)

In [44]:
state_capitals

defaultdict(str, {})

In [45]:
str()

''

In [46]:
int()

0

In [47]:
list()

[]

In [48]:
state_capitals['Alaska']

''

In [49]:
state_capitals

defaultdict(str, {'Alaska': ''})

In [52]:
fruit_counts = collections.defaultdict(int)
fruit_counts['apple'] += 2 # No errors should occur
print(fruit_counts)
fruit_counts['banana']

defaultdict(<class 'int'>, {'apple': 2})

0

In [53]:
fruit_counts

defaultdict(int, {'apple': 2, 'banana': 0})

In [54]:
state_capitals['Alabama'] = 'Montgomery'

In [56]:
state_capitals

defaultdict(str, {'Alabama': 'Montgomery', 'Alaska': ''})

In [57]:
s = [('NC', 'Raleigh'), ('VA', 'Richmond'), ('WA', 'Seattle'), ('NC', 'Asheville')]

In [58]:
dd = collections.defaultdict(list)

In [59]:
for k, v in s:
    dd[k].append(v)
dd

defaultdict(list,
            {'NC': ['Raleigh', 'Asheville'],
             'VA': ['Richmond'],
             'WA': ['Seattle']})

In [60]:
Person = collections.namedtuple('Person', ['age', 'height', 'name'])

In [62]:
Person = collections.namedtuple('Person', 'age, height, name')

In [63]:
Person = collections.namedtuple('Person', 'age height name')

In [64]:
dave = Person(30, 178, 'Dave')

In [65]:
dave

Person(age=30, height=178, name='Dave')

In [66]:
jack = Person(age=30, height=178, name='Jack S.')

In [67]:
Human = collections.namedtuple('Person', 'age, height, name')

In [68]:
dave = Human(30, 178, 'Dave')

In [69]:
dave

Person(age=30, height=178, name='Dave')

In [71]:
from collections import deque
d = deque('ghi') # make a new deque with three items
for elem in d: # iterate over the deque's elements
    print (elem.upper())

G
H
I

In [72]:
d

deque(['g', 'h', 'i'])

In [73]:
d.append('j') # add a new entry to the right side
d.appendleft('f') # add a new entry to the left side
d

deque(['f', 'g', 'h', 'i', 'j'])

In [74]:
d.pop()

'j'

In [75]:
d.popleft()

'f'

In [76]:
list(d)

['g', 'h', 'i']

In [77]:
d[0]

'g'

In [78]:
d[-1]

'i'

In [79]:
list(reversed(d))

['i', 'h', 'g']

In [80]:
'h' in d

True

In [81]:
d.extend('jkl')

In [82]:
d

deque(['g', 'h', 'i', 'j', 'k', 'l'])

In [83]:
d.rotate(1)

In [84]:
d

deque(['l', 'g', 'h', 'i', 'j', 'k'])

In [85]:
d.rotate(-1)

In [86]:
d

deque(['g', 'h', 'i', 'j', 'k', 'l'])

In [87]:
deque(reversed(d))

deque(['l', 'k', 'j', 'i', 'h', 'g'])

In [88]:
d.clear()

In [89]:
d.pop()

IndexError: pop from an empty deque

In [90]:
d.extendleft('abc')

In [91]:
dict1 = {'apple': 1, 'banana': 2}
dict2 = {'coconut': 1, 'date': 1, 'apple': 3}

In [92]:
combined_dict = collections.ChainMap(dict1, dict2)
reverse_ordered_dict = collections.ChainMap(dict2, dict1)

In [93]:
for k, v in combined_dict.items():
    print(k, v)

banana 2
apple 1
date 1
coconut 1

In [94]:
for k, v in reverse_ordered_dict.items():
    print(k, v)

banana 2
apple 3
date 1
coconut 1