In [1]:
a = [1, 2, 3, 4, 5]

In [2]:
a.append(6)
a.append(7)
a.append(7)

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 7]

In [4]:
b = [8, 9]
a.append(b)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [5]:
my_string = "hello world"
a.append(my_string)

In [6]:
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'hello world']

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9]
a.append(b)
# a: [1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]
a[8]

[8, 9]

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]
# Extend list by appending all elements from b
a.extend(b)

In [9]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [10]:
a.extend(range(3))
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [11]:
a = [1, 2, 3, 4, 5, 6] + [7, 7] + b
# a: [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [12]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

**index(value, [startIndex])** – gets the index of the first occurrence of the input value. If the input value is
not in the list a ValueError exception is raised. If a second argument is provided, the search is started at that
specified index.

In [15]:
a.index(7)
# Returns: 6
# a.index(49) # ValueError, because 49 is not in a.
a.index(7, 7)
# Returns: 7
# a.index(7, 8) # ValueError, because there is no 7 starting at index 8

7

**insert(index, value)** – inserts value just before the specified index. Thus after the insertion the new element occupies position index.

In [16]:
a.insert(0, 0)

In [17]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [18]:
a.insert(2,5)
a

[0, 1, 5, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

**pop([index])** – removes and returns the item at index. With no argument it removes and returns the last element of the list.

In [20]:
a.pop(2)
print(a)
# Returns: 5
# a: [0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
a.pop(8)
print(a)
# Returns: 7
# a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# With no argument:
a.pop()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
a.remove(0)
print(a)
a.remove(9)
print(a)
# a: [1, 2, 3, 4, 5, 6, 7, 8]
# a.remove(10)
# ValueError, because 10 is not in a

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
a.reverse()

In [23]:
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
a.count(7)

1

In [25]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
a.sort(reverse=True)
a

[8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
import datetime
class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height
    def __repr__(self):
        return self.name
l = [Person("John Cena", datetime.date(1992, 9, 12), 175),
    Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
    Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]
l.sort(key=lambda item: item.name)
print(l)
# l: [Chuck Norris, John Cena, Jon Skeet]
l.sort(key=lambda item: item.birthday)
print(l)
# l: [Chuck Norris, Jon Skeet, John Cena]
l.sort(key=lambda item: item.height)
print(l)
# l: [John Cena, Chuck Norris, Jon Skeet]

[Chuck Norris, John Cena, Jon Skeet]
[Chuck Norris, Jon Skeet, John Cena]
[John Cena, Chuck Norris, Jon Skeet]

In [29]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},
    {'name':'chetan','age':18,'salary':5000},
    {'name':'guru','age':30,'salary':3000}]
by_age = itemgetter('age')
by_salary = itemgetter('salary')

In [30]:
people.sort(key=by_age) #in-place sorting by age
print(people)
people.sort(key=by_salary) #in-place sorting by salary
print(people)

[{'name': 'chetan', 'age': 18, 'salary': 5000}, {'name': 'chandan', 'age': 20, 'salary': 2000}, {'name': 'guru', 'age': 30, 'salary': 3000}]
[{'name': 'chandan', 'age': 20, 'salary': 2000}, {'name': 'guru', 'age': 30, 'salary': 3000}, {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [31]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples) #[(5, 0), (1, 2), (3, 4)]

[(5, 0), (1, 2), (3, 4)]

In [32]:
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
    Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
    Person("Jon Skeet", datetime.date(1991, 7, 6), 185)] #reusing Person class from above

In [34]:
persons.sort(key=attrgetter('name')) #sort by name
by_birthday = attrgetter('birthday')
persons.sort(key=by_birthday) #sort by birthday

In [35]:
persons

[Chuck Norris, Jon Skeet, John Cena]

In [36]:
print(a)
a.clear()
a

[8, 7, 6, 5, 4, 3, 2, 1]

[]

In [37]:
b = ["blah"] * 3
b

['blah', 'blah', 'blah']

In [38]:
b = [1, 3, 5] * 5

In [39]:
b

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [41]:
a = list(range(10))
del a[::2]
print(a)
# a = [1, 3, 5, 7, 9]
del a[-1]
print(a)
# a = [1, 3, 5, 7]
del a[:]
print(a)
# a = []

[1, 3, 5, 7, 9]
[1, 3, 5, 7]
[]

```
If you want to create a copy of the list you have below options.
You can slice it:
new_list = old_list[:]
You can use the built in list() function:
new_list = list(old_list)
```

In [44]:
import copy
new_persons = copy.copy(persons)

In [45]:
new_persons

[Chuck Norris, Jon Skeet, John Cena]

In [46]:
del new_persons[1]

In [47]:
new_persons

[Chuck Norris, John Cena]

In [48]:
persons

[Chuck Norris, Jon Skeet, John Cena]

In [49]:
new_persons = copy.deepcopy(persons)

In [50]:
new_persons

[Chuck Norris, Jon Skeet, John Cena]

In [51]:
new_persons2 = new_persons.copy()

In [52]:
new_persons2

[Chuck Norris, Jon Skeet, John Cena]

In [56]:
del new_persons2[1]
new_persons

[Chuck Norris, Jon Skeet, John Cena]

In [57]:
new_persons2

[Chuck Norris]

Lists allow to use slice notation as **`lst[start:end:step]`**. The output of the slice notation is a new list containing
elements from index start to end-1. If options are omitted start defaults to beginning of list, end to end of list and
step to 1:

In [58]:
lst = [1, 2, 3, 4]

In [59]:
lst[1:] # [2, 3, 4]
lst[:3] # [1, 2, 3]
lst[::2] # [1, 3]
lst[::-1] # [4, 3, 2, 1]
lst[-1:0:-1] # [4, 3, 2]
lst[5:8] # [] since starting index is greater than length of lst, returns empty list
lst[1:10] # [2, 3, 4] same as omitting ending index

[2, 3, 4]

In [60]:
data = 'chandan purohit 22 2000' #assuming data fields of fixed length
name_slice = slice(0,19)
age_slice = slice(19,21)
salary_slice = slice(22,None)
#now we can have more readable slices
print(data[name_slice]) #chandan purohit
print(data[age_slice]) #'22'
print(data[salary_slice]) #'2000'

chandan purohit 22
20
0

In [66]:
lst = []
if not lst:
    print("list is empty")

list is empty

In [68]:
lst = []
if lst:
    print("list is not empty")
else:
    print("list is empty")

list is empty

In [69]:
my_list = ['foo', 'bar', 'baz']
for item in my_list:
    print(item)

foo
bar
baz

In [70]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))

The item in position 0 is: foo
The item in position 1 is: bar
The item in position 2 is: baz

In [71]:
for i in range(0,len(my_list)):
    print(my_list[i])

foo
bar
baz

In [72]:
lst = ['test', 'twest', 'tweast', 'treast']
'test' in lst
# Out: True

True

In [73]:
'toast' in lst

False

In [74]:
slst = set(lst)
'test' in slst

True

In [75]:
chars = ['a', 'b', 'c', 'd']
all(chars)
# True

True

In [76]:
nums = [1, 1, 0, 1]
all(nums)
# False

False

In [79]:
nums = [1, 1, 0, 1]
any(nums)

True

In [80]:
vals = [None, None, None, False]
any(vals)

False

In [81]:
vals = [1, 2, 3, 4]
any(val > 12 for val in vals)

False

In [82]:
any((val * 2) > 6 for val in vals)

True

In [83]:
numbers = list(range(10))

In [85]:
rev = reversed(numbers)

In [88]:
rev = list(rev)
rev

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [89]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
numbers.reverse()

In [91]:
numbers

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

**zip returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument
sequences or iterables:**

In [92]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

If the lists have different lengths then the result will include only as many elements as the shortest one:

In [93]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

For padding lists of unequal length to the longest one with Nones use itertools.zip_longest
(itertools.izip_longest in Python 2)

In [95]:
import itertools
alist = ['a1', 'a2', 'a3']
blist = ['b1']
clist = ['c1', 'c2', 'c3', 'c4']
for a,b,c in itertools.zip_longest(alist, blist, clist):
    print(a, b, c)

a1 b1 c1
a2 None c2
a3 None c3
None None c4

In [96]:
alist = [123, 'xyz', 'zara', 'abc']
alist.insert(3, [2009])
print("Final List :", alist)

Final List : [123, 'xyz', 'zara', [2009], 'abc']

In [97]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))
# Out: ['duke', 'tofp', 'aixk', 'edik']

['aixk', 'edik', 'duke', 'tofp']

In [98]:
import collections
collections.OrderedDict.fromkeys(names).keys()

odict_keys(['aixk', 'duke', 'edik', 'tofp'])

In [99]:
[1, 10, 100] < [2, 10, 100]

True

In [100]:
[1, 10, 100] < [1, 10, 100]

False

In [101]:
[1, 10, 100] <= [1, 10, 100]

True

In [102]:
[1, 10, 100] < [1, 10, 101]

True

In [103]:
[1, 10, 100] < [0, 10, 100]

False

In [104]:
[1, 10] < [1, 10, 100]

True

In [105]:
alist = [[[1,2],[3,4]], [[5,6,7],[8,9,10], [12, 13, 14]]]

In [106]:
print(alist[0][0][1])
#2
#Accesses second element in the first list in the first list
print(alist[1][1][2])

2
10

In [107]:
alist[0][0].append(11)
print(alist[0][0][2])

11

In [108]:
for row in alist: #One way to loop through nested lists
    for col in row:
        print(col)

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
[12, 13, 14]

In [109]:
[col for row in alist for col in row]

[[1, 2, 11], [3, 4], [5, 6, 7], [8, 9, 10], [12, 13, 14]]

In [110]:
alist[1].insert(2, 15)

In [111]:
for row in range(len(alist)): #A less Pythonic way to loop through lists
    for col in range(len(alist[row])):
        print(alist[row][col])

[1, 2, 11]
[3, 4]
[5, 6, 7]
[8, 9, 10]
15
[12, 13, 14]

In [112]:
print(alist[1][1:])

[[8, 9, 10], 15, [12, 13, 14]]

In [113]:
print(alist)

[[[1, 2, 11], [3, 4]], [[5, 6, 7], [8, 9, 10], 15, [12, 13, 14]]]

In [114]:
my_list = [None] * 10
my_list = ['test'] * 10

In [115]:
my_list=[{1}] * 10

In [116]:
print(my_list)

[{1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}, {1}]

In [117]:
my_list[0].add(2)

In [118]:
my_list

[{1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2},
 {1, 2}]

In [119]:
my_list=[{1} for _ in range(10)]